/* COLORS ---------------------------------------------------------- */
$light-gray:#D5D7DD;
$teal:#1babb7;
$light-green:#6ab29f;
$dark-gray:#333a3e;
$red:#d0482b;
$off-black:#231f20;

$colors: $light-gray, $teal, $light-green, $dark-gray, $red, $off-black;
