.ui{
    width:100%;
    position:relative;
    margin:30px 0 0 0;

    .ss-icon{
        font-size:4.0em;
        position:absolute;
        display:inline-block;
        color:#CDD3D1;
        cursor:pointer;
    }
    .next{
        right:0px;
    }
    .prev{
        left:0px;
    }
}