.ui{
    width:100%;
    position:relative;
    margin:30px 0 0 0;

    .next{
        font-size:2.0em;
        position:absolute;
        display:inline-block;
        color:#CDD3D1;
        cursor:pointer;
        right:0px;
    }
    .prev{
        font-size:2.0em;
        position:absolute;
        display:inline-block;
        color:#CDD3D1;
        cursor:pointer;
        left:0px;
    }
}